table {
    width: 80vw;
}

.bill {
    overflow-y: scroll;
    width: 80vw;
    margin: 0 auto;
}
.bill::-webkit-scrollbar {
    width: 0;
}
.bill__head {
    text-align: center;
}

@media print {
    .no-print,
    .no-print * {
        display: none !important;
    }
}

@media print {
    @page {
        size: landscape;
    }
}
