.book {
    width: 30vw;
    max-height: calc(100vh - 22.5vh);
    display: flex;
    padding: 10px;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    transform: translateX(30vw);
    width: 0;
    margin: 0 10px;
    align-items: center;
    transition: all 250ms ease;
    /* margin-top: 9.5vh; */
}

.book__img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.book__details {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.book__price {
    width: 100%;
    display: flex;
}
.item__no {
    display: flex;
    width: 100%;
}

.icon_btn {
    color: red;
}

.continue__button {
    margin-top: 5px;
    width: 300px;
    background-color: red !important;
    border-radius: 50px !important;
}
