.App {
    display: flex;
    max-height: calc(100vh - 11.5vh);
    overflow: hidden;
    max-width: 100vw;
    /* width: 100vw; */
}

.card__container {
    /* margin-top: 9.5vh; */
    display: grid;
    grid-gap: 10px;
    min-height: calc(100vh - 22vh);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-template-rows: repeat(5, minmax(250px, 1fr));

    /* grid-auto-flow: dense; */
}
